body {
  background-color: black;
}


.border_solid{
    border: solid 1px #dedede;
}

.main_box{
    max-width: 430px;
    height: 600px;
    margin: 100px auto auto auto;
}
.privacy_box{
    width: 425px;
    height: 82%;
    margin: auto;
    background-color: #ffffff;
}
.insta_logo{
    width: 210px;
    height: 70px;
    margin: 40px auto 50px auto;

    background-image: url("insta.png");
    background-size: auto;
    background-position: center;
}
.privacy_text_box{
    width: 80%;
    height: 40px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    border: solid 1px #dedede;
    background-color: #fafafa;
}
.main_bottom{
    height: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
}







.join_box{
    width: 425px;
    height: 13%;
    margin: 5% auto auto auto;
    background-color: #ffffff;
}






.margin_top_15px{
    margin-top: 15px;
}
.margin_top_5px{
    margin-top: 5px;
}