<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">


    <!--자바스크립트, 스타일시트 파일 불러오기-->

    <script src="{{ url_for('static', filename='JS/main_func.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/grid_style.css') }}">

    <title>짭스타그램</title>

<script>
      function logout(){
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.href='/login'
      }
</script>
</head>

<body>
<div class="wrap">

    <div class="header">
        <div class="header-item">
            <div class="logo click" onclick="goHome()"></div>
            <div class="find">
                <input type="text" class="search" id="search" placeholder="검색">
            </div>
            <div class="menu">
                <div class="home click" onclick="goHome()"></div>
                <div class="direct click"></div>
                <div class="write click" onclick="initPostModal()"></div>
                <div class="explore click"></div>
                <div class="like click"></div>
                <div class="profile click"></div>
            </div>
        </div>
    </div>

    <div class="main">

        <div class="main-left">

            <div class="article">
                <div id="card_box"></div>
            </div>

        </div>

        <div class="main-right">

            <div class="follow">

                <div class="my-info">
                    <div class="profile"></div>
                    <div class="nickname">sunset_001<br><span class="gray_r">노을</span></div>
                </div>

                <div class="follow-info">
                    <div class="follow-info-header">
                        <div class="gray"> 회원님을 위한 추천</div>
                        <div class="follow-btn"><span style="font-weight: bold; font-size: 0.8em;">모두보기</span></div>
                    </div>

                    <div class="follow-info-1">
                        <div class="profile"></div>
                        <div class="nickname">sunset_002<br><span class="gray_s">회원님을 위한 추천입니다</span></div>
                        <div class="follow-btn"><a href="#" class="blue_sb">팔로우</a></div>
                    </div>

                </div>
            </div>

            <div class="footer">
                <p>2022 Instagram Clone Project from Team.CodingOrDie</p>
                <p>Team.CodingOrDie || JA <a href="https://cold-charcoal.tistory.com">blog</a>
                    | DG <a href="https://ddongkim.tistory.com">blog</a>
                    | NE <a href="https://moist-ink.tistory.com/">blog</a>
                    | HK <a href="https://lululala-2.tistory.com">blog</a></p>
            </div>

        </div>


    </div>

    <!--모달 영역 시작-->
    <div id="modal" class="modal-bg">
        <div class="modal-wrap">
            <button class="btn-in-popup upset">신고</button>
            <button class="btn-in-popup upset">팔로우 취소</button>
            <button class="btn-in-popup">게시물로 이동</button>
            <button class="btn-in-popup">공유 대상...</button>
            <button class="btn-in-popup">링크 복사</button>
            <button class="btn-in-popup" onclick="initModifyModal()">퍼가기</button>
            <button class="btn-in-popup" onclick="popClose()">취소</button>
        </div>

    </div>
    <!--모달 영역 끝-->

    {#    자신의 게시글에서 나오는 모달#}
    <div id="modal_writer" class="modal">
        <div class="modal-background" onclick='$("#modal_writer").removeClass("is-active")'>
            <div class="modal-writer-wrap">
                <button id="modal_button_delete" class="btn-in-popup upset">삭제</button>
                <button id="modal_button_modify" class="btn-in-popup">수정</button>
                <button class="btn-in-popup">좋아요 수 숨기기</button>
                <button class="btn-in-popup">댓글 기능 해제</button>
                <button class="btn-in-popup">게시물로 이동</button>
                <button class="btn-in-popup">태그된 계정</button>
                <button class="btn-in-popup" onclick='$("#modal_writer").removeClass("is-active")'>취소</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick='$("#modal_writer").removeClass("is-active")'></button>
    </div>

{#    포스팅 모달#}
    <div id="modal_post" class="modal">
        <div class="modal-background" onclick='$("#modal_post").removeClass("is-active")'></div>
        <div class="modal-post-wrap">
            <form id="post_form">
                <div class="modal-post-title">
                    <div>새 게시물 만들기</div>
                    <button type='button' class="button_modal" onclick="postFeed()"id="button_post">공유하기</button>
                </div>

                <div class="modal-post-content">
                    <div class="modal-post-images">
                        <div id="image_upload_button">
                            <label class="btn-input-img" for="input_img">컴퓨터에서 선택</label>
                            <input name="image[]" onchange="selectImages(event)" style="display: none" id="input_img"
                                   type="file"
                                   class="real-upload" accept="image/*" required multiple>`
                        </div>
                        <div id="modal_post_display_image"></div>

                    </div>
                    <div class="modal-post-text" id="modal_post_text">
                        <div class="modal-user-id">
                            <img src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png">
                            <div>user_id</div>
                        </div>
                        <div class="modal-post-textarea-div">
                            <textarea class="post-text" name="desc" id="post_text" placeholder="문구 입력..."></textarea>
                        </div>
                        <div style="padding: 10px">
                            <input name="location" type="text" placeholder="위치 추가">
                        </div>

                    </div>
                </div>
            </form>


        </div>
        <button class="modal-close is-large" aria-label="close" onclick='$("#modal_post").removeClass("is-active")'></button>
    </div>

{#    수정 모달#}
    <div id="modal_modify" class="modal">
        <div class="modal-background" onclick='$("#modal_modify").removeClass("is-active")'></div>
        <div class="modal-post-wrap">
            <form id="modify_form">
                <div class="modal-post-title">
                    <div>정보 수정</div>
                    <button type='button' class="button_modal" id="button_modify">완료</button>
                </div>

                <div class="modal-post-content">
                    <div class="modal-post-images">
                        <div id="modal_modify_display_image"></div>

                    </div>
                    <div class="modal-post-text">
                        <div class="modal-user-id">
                            <img src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png">
                            <div id="writer_id"></div>
                        </div>
                        <div class="modal-post-textarea-div">
                            <textarea class="post-text" name="desc" id="modify_text" placeholder="문구 입력..."></textarea>
                        </div>
                        <div style="padding: 10px">
                            <input id="modify_location" name="location" type="text" placeholder="위치 추가">
                        </div>

                    </div>
                </div>
            </form>


        </div>
        <button class="modal-close is-large" aria-label="close" onclick='$("#modal_modify").removeClass("is-active")'></button>
    </div>

{#    삭제 모달#}
    <div id="modal_delete" class="modal">
        <div class="modal-background" onclick='$("#modal_delete").removeClass("is-active")'>
            <div class="modal-writer-wrap">
                <div>
                    <p><strong>게시물을 삭제할까요?</strong></p>
                    <p class="gray_s">이 게시물을 삭제하시겠어요?</p>
                </div>
                <button id="button_delete" class="btn-in-popup upset">삭제</button>
                <button class="btn-in-popup" onclick='$("#modal_delete").removeClass("is-active")'>취소</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick='$("#modal_delete").removeClass("is-active")'></button>
    </div>
</div>
</body>

</html>